.form {
  margin: 0rem 20rem;
  position: relative;
}

.form > input {
  border: none;
  outline: none;
  background: linear-gradient(35deg, #494949, #313131);
  font-size: 1.5rem;
  color: white;
  padding: 1rem 3rem;
  border-radius: 1rem;
  width: 100%;
}

.form > svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(100%, -50%);
  color: white;
}
