@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-inline: 10%;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

a {
  color: rgb(56, 56, 56);
}
